.toDoList {

    &__item {
        display: flex;
        justify-content: space-around;

        &-control {
            display: flex;
            align-items: center;
            gap: 7px;
            justify-content: space-between;
        }
    }
}